<div
  class="absolute size-4/5 left-1/2 top-1/2 -translate-1/2 text-primary
            ui-grid-dotted ui-grid-square-lg ui-striped-mask-oval"
>
</div>
<span
  aria-hidden="true"
  class="absolute inset-x-2 top-1/2 -translate-y-1/2 h0.5 flex bg-gradient-to-l from-bg-surface via-bg-muted to-bg-surface"
>
</span>
<span
  aria-hidden="true"
  class="absolute w2/5 left-4 bottom-0 h0.5 flex bg-gradient-to-l from-bg-surface via-bg-muted to-bg-surface"
>
</span>
<div
  aria-hidden="true"
  class="absolute w3/5 max-w50 left-1/2 top-1/2 -translate-1/2 p2 bg-bg/20 backdrop-saturate-70 backdrop-blur-sm backdrop-blur-md b border-border-strong/50 rd-xl shadow-sm shadow-gray-200/49 flex items-center before-absolute before-content-empty before-inset-x-3 before-h2 before-flex before-bg-bg/80 before-b before-b-border-strong/50 before-rd-b-xl before--bottom-2 before-shadow-sm before-shadow-bg-gray-200/40 dark-before-shadow-transparent"
>
  <span
    aria-hidden="true"
    class="size-12 flex items-center justify-center rd-lg ui-soft ui-soft-primary mr-4"
  >
    <span class="i-ph-sparkle text-2xl"></span>
  </span>
  <div class="flex flex-col">
    <span
      class="font-semibold text-sm px12 flex rd-full text-transparent bg-bg-muted"
    >
      +20
    </span>
    <span
      class="text-xs h2 overflow-hidden text-transparent wmax bg-bg-muted rd-full mt1"
      >Satisfaction</span
    >
  </div>
</div>
<span
  class="animate-bounce flex items-center absolute bottom-3 left-3 text-xs ui-subtle ui-subtle-secondary px2 py0.5 rd-global-radius"
>
  <span class="flex i-ph-campfire mr0.5"></span>
  Modern
</span>
<span
  class="flex items-center absolute top-1/2 -translate-y-1/2 right-3 text-xs ui-subtle ui-subtle-primary px2 py0.5 rd-global-radius backdrop-blur-sm"
>
  <span class="flex i-ph-campfire mr0.5"></span>
  Beautiful
</span>
<div class="absolute bottom-1 right-4 w50%">
  <progress
    max="9"
    value="4"
    class="ui-progress-bar ui-progress-bar-xs ui-progress-bar-rounded-md bg-bg-muted text-danger rd-full"
  ></progress>
</div>
