---
import KeyUnoUi from "@components/atoms/KeyUnoUi.astro";
---

<div
  class="size-full flex flex-col items-center justify-center text-center py6 px4"
>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 ui-grid ui-grid-square-2xl 
          ui-striped-overlay-mask-reverse text-fg/20 op40"
  >
  </div>
  <span class="flex text-fg-title text-4xl i-ph-github-logo"></span>
  <h3 class="font-semibold text-fg-title mt5">Free and Open Source</h3>
  <p class="text-fg-muted text-sm mt2 mb3">
    UnoUI is entirely free and open source.
  </p>
  <KeyUnoUi icon="i-ph-git-branch" text="MIT License" />
</div>
