<div
  class="absolute size-4/5 left-1/2 top-1/2 -translate-1/2 text-primary
            ui-grid-dotted ui-grid-square-lg ui-striped-mask-oval"
>
</div>
<span
  aria-hidden="true"
  class="absolute w2/5 left-4 bottom-0 h0.5 flex bg-gradient-to-l from-bg-surface via-bg-muted to-bg-surface"
>
</span>
<div class="size-full relative d-flex-place-center">
  <div
    class="absolute top-10 right-17 w24 b-r-2 b-b-2 b-border-strong/60 pt13 rd-br-2xl"
  >
  </div>
  <span
    class="absolute top-4 right-4 ui-subtle ui-subtle-success text-xs px2 py0.5 flex items-center rd-global-radius"
  >
    <span class="i-ph-fire flex mr1"></span>
    Build Faster
  </span>
  <div
    class="absolute bottom-10 left-17 w21 b-l-2 b-t-2 b-border-strong/60 pt13 rd-tl-2xl"
  >
  </div>
  <span
    class="absolute bottom-4 left-4 ui-subtle ui-subtle-accent text-xs px2 py0.5 flex items-center rd-global-radius"
  >
    <span class="i-ph-paint-bucket flex mr1"></span>
    Ready to use themes
  </span>

  <div
    class="absolute top-6 left-13 w31 b-l b-b-2 b-border-strong/60 pt11 rd-bl-2xl"
  >
  </div>
  <span
    class="absolute top-1 left-4 ui-subtle ui-subtle-secondary text-xs px2 py0.5 flex items-center rd-global-radius"
  >
    <span class="i-ph-radioactive flex mr1"></span>
    Custom Utilities
  </span>

  <div
    class="absolute bottom-1 right-15 w30 b-r-2 b-t-2 b-border-strong/60 pt16 rd-tr-2xl"
  >
  </div>
  <span
    class="absolute bottom-1 right-2 ui-subtle ui-subtle-gray text-xs px2 py0.5 flex items-center rd-global-radius backdrop-blur-sm"
  >
    <span class="i-ph-moon-stars flex mr1.5"></span>
    Dark mode support
  </span>

  <div class="size-4/5 h12 max-w40 bg-border-strong/60 p0.5 clip-card relative">
    <div
      class="size-full d-flex-place-center text-center font-semibold bg-bg px8 py3 clip-card"
    >
      <span
        class="ui-bg-clip-text bg-gradient-to-b from-fg-title to-fg-muted/50"
        >Preset UI</span
      >
    </div>
  </div>
</div>

<style is:global>
  .clip-card {
    clip-path: polygon(16% 0%, 84% 0%, 100% 50%, 84% 100%, 16% 100%, 0% 50%);
  }
</style>
