<div
  aria-hidden="true"
  class="absolute b b-border-strong/40 p8 rd-full w90% aspect-square top-10 left-1/2 -translate-x-1/2"
>
  <span class="flex size-full rd-full b b-border-strong/40 p8">
    <span class="flex size-full rd-full b b-border-strong/40"></span>
  </span>
</div>

<div
  class="size-12 d-flex-place-center bg-bg b b-border-strong/60 absolute bottom-10 left-4 rd-full"
>
  <img src={`/icons/html.svg`} alt={`icon `} width="20" class="h5 wauto" />
</div>
<div
  class="size-12 d-flex-place-center bg-bg b b-border-strong/60 absolute bottom-30 left-16 rd-full"
>
  <img src={`/icons/vue.svg`} alt={`icon `} width="20" class="h5 wauto" />
</div>

<div
  class="size-12 d-flex-place-center bg-bg text-fg b b-border-strong/60 absolute bottom-24 left-1/2 -translate-x-1/2 rd-full"
>
  <span aria-hidden="true" class="i-simple-icons-astro flex">
</div>

<div
  class="size-12 d-flex-place-center bg-bg b b-border-strong/60 absolute bottom-10 right-4 rd-full"
>
  <img src={`/icons/laravel.svg`} alt={`icon `} width="20" class="h6 wauto" />
</div>
<div
  class="size-12 d-flex-place-center bg-bg b b-border-strong/60 absolute bottom-30 right-16 rd-full"
>
  <img src={`/icons/svelte.svg`} alt={`icon `} width="20" class="h7 wauto" />
</div>
<div
  class="px2 py0.5 text-xs flex items-center bg-bg text-fg b b-border-strong/60 absolute bottom-4 left-1/2 -translate-x-1/2 rd-global-radius"
>
  <span aria-hidden="true" class="i-simple-icons-astro flex mr1.5"></span>
  UnoCSS
</div>
<span
  aria-hidden="true"
  class="absolute w2/5 left-4 bottom-0 h0.5 flex bg-gradient-to-l from-bg-surface via-bg-muted to-bg-surface"
>
</span>
