<div class="flex flex-col gap-8 wfull">
    <progress max="9" value="4"
    class="ui-progress-bar ui-progress-bar-md ui-progress-bar-rounded-md bg-bg-muted text-primary"></progress>
  <progress max="100" value="60"
    class="ui-progress-bar ui-progress-bar-md ui-progress-bar-rounded-md bg-bg-muted text-secondary"></progress>
  <progress max="40" value="20"
    class="ui-progress-bar ui-progress-bar-md ui-progress-bar-rounded-md bg-bg-muted text-red6"></progress>
  <progress max="14" value="14"
    class="ui-progress-bar ui-progress-bar-md ui-progress-bar-rounded-md bg-bg-muted text-emerald6"></progress>
</div>