<div class="flex flex-col gap-8 wfull">
<progress max="9" value="4"
    class="ui-progress-bar ui-progress-bar-xs ui-progress-bar-rounded-md bg-bg-muted text-primary rounded-md"></progress>
  <progress max="9" value="4"
    class="ui-progress-bar ui-progress-bar-sm ui-progress-bar-rounded-md bg-bg-muted text-primary rounded-md"></progress>
  <progress max="9" value="4"
    class="ui-progress-bar ui-progress-bar-md ui-progress-bar-rounded-md bg-bg-muted text-primary rounded-md"></progress>
  <progress max="9" value="4"
    class="ui-progress-bar ui-progress-bar-lg ui-progress-bar-rounded-md bg-bg-muted text-primary"></progress>
  <progress max="9" value="4"
    class="ui-progress-bar ui-progress-bar-xl ui-progress-bar-rounded-md bg-bg-muted text-primary"></progress>
  <progress max="9" value="4"
    class="ui-progress-bar ui-progress-bar-2xl ui-progress-bar-rounded-md bg-bg-muted text-primary"></progress>
</div>