<div class="flex flex-col gap-8 wfull">
  <div class="flex flex-col wfull">
    <progress
      max="10"
      value="4"
      class="ui-progress-bar ui-progress-bar-md ui-progress-bar-rounded-md bg-bg-muted text-primary rounded-md"
    ></progress>
    <div class="flex justify-end text-right">
      <span class="text-orange6 text-sm">Installing ...</span>
    </div>
  </div>
  <div class="flex items-center gap-x6">
    <progress
      max="10"
      value="6"
      class="ui-progress-bar ui-progress-bar-md ui-progress-bar-rounded-md bg-bg-muted text-primary rounded-md"
    ></progress>
    <div class="text-sm text-fg">60%</div>
  </div>
  <div class="flex items-center gap-x6">
    <progress
      max="10"
      value="3"
      class="ui-progress-bar ui-progress-bar-md ui-progress-bar-rounded-md bg-bg-muted text-primary flex-1 w-auto flex rounded-md"
    ></progress>
    <div
      class="text-sm text-white bg-red6 rd-full size-5 flex items-center justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w3.5 h3.5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </div>
  </div>
  <div class="flex items-center gap-x6 wfull">
    <progress
      max="10"
      value="10"
      class="ui-progress-bar ui-progress-bar-md ui-progress-bar-rounded-md bg-bg-muted text-primary rounded-md"
    ></progress>
    <div
      class="text-sm text-white bg-green6 rd-full size-5 flex items-center justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w3.5 h3.5"
      >
        <path
          fill-rule="evenodd"
          d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
  </div>
</div>
