<div class="wfull max-w-xl flex items-start gap-x-4  animate-pulse">
    <div class="size-14 rd-full bg-bg-surface-elevated">
    </div>
    <div class="flex-1 space-y-3">
        <h3 class="text-xl content-['skeleton'] text-transparent w-4/5 rd-full bg-bg-surface-elevated">sd</h3>
        <p class="text-transparent text-xs w-9/12 bg-bg-surface-elevated rd-full">
            description
        </p>
        <p class="text-transparent text-xs w-3/6 bg-bg-surface-elevated rd-full">
            description
        </p>
    </div>
</div>