<div class="space-y-4 wfull">
    <div
        data-custom-range-wrapper
        data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-primary h1"
        class="relative wfull flex items-center h2"
    >
        <input
            data-input-range
            type="range"
            name="range_slide_3"
            min="0"
            value="0"
            max="100"
            class="ui-input-range ui-range-thumb-size-xs ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary"
        />
    </div>
    <div
        data-custom-range-wrapper
        data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-primary h1"
        class="relative wfull flex items-center h3"
    >
        <input
            data-input-range
            type="range"
            name="range_slide_3"
            min="0"
            value="0"
            max="100"
            class="ui-input-range ui-range-thumb-size-sm ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary"
        />
    </div>
    <div
        data-custom-range-wrapper
        data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-primary h2"
        id="range_custom1"
        class="relative wfull flex items-center h4"
    >
        <input
            data-input-range
            type="range"
            name="range_slide_3"
            min="0"
            value="0"
            max="100"
            class="ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary"
        />
    </div>
    <div
        data-custom-range-wrapper
        data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-primary h2.5"
        id="range_custom1"
        class="relative wfull flex items-center h4"
    >
        <input
            data-input-range
            type="range"
            name="range_slide_3"
            min="0"
            value="0"
            max="100"
            class="ui-input-range ui-range-thumb-size-lg ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary"
        />
    </div>
</div>
