<div class="p-6 flex flex-col space-y-4 wfull">
    <div data-custom-range-wrapper
        data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-success600 dark-bg-success500 h-2"
        id="range_custom1" class="relative w-full flex items-center h-4">
        <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-success">
    </div>
    <div data-custom-range-wrapper
        data-range-indicator="z-7 peer-disabled-bg-op50 rd-lg bg-primary-600 dark-bg-primary-500 h-2"
        id="range_custom3" class="relative w-full flex items-center h-4">
        <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary">
    </div>
</div>