<div class="flex flex-col space-y-5 wfull">
    <div class="relative wfull flex items-center h4">
        <input type="range" name="range_slide" min="0" max="100" class="ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary">
    </div>
    <div class="relative wfull flex items-center h4">
        <input type="range" name="range_slide" min="0" max="80" value="20" class="
        ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-secondary
         ">
    </div>
</div>