<div class="space-y-4 wfull">
    <div class="relative wfull flex items-center h2"><label for="range_slide_xs" class="sr-only">rangexs</label><input type="range" name="range_slide_xs" id="range_slide_xs" min="0" max="100" class="ui-input-range ui-range-thumb-size-xs ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary" /></div>
    <div class="relative wfull flex items-center h3"><label for="range_slide_sm" class="sr-only">rangesm</label><input type="range" name="range_slide_sm" id="range_slide_sm" min="0" max="100" class="ui-input-range ui-range-thumb-size-sm ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary" /></div>
    <div class="relative wfull flex items-center h4"><label for="range_slide_md" class="sr-only">rangemd</label><input type="range" name="range_slide_md" id="range_slide_md" min="0" max="100" class="ui-input-range ui-range-thumb-size-sm ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary" /></div>
    <div class="relative wfull flex items-center h5"><label for="range_slide_lg" class="sr-only">rangelg</label><input type="range" name="range_slide_lg" id="range_slide_lg" min="0" max="100" class="ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary" /></div>
    <div class="relative wfull flex items-center h6"><label for="range_slide_xl" class="sr-only">rangexl</label><input type="range" name="range_slide_xl" id="range_slide_xl" min="0" max="100" class="ui-input-range ui-range-thumb-size-lg ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary" /></div>
  </div>
  