<div class="relative w-full flex items-center h-4">
    <input type="range" name="range_slide" step="4" min="0" max="40" class="ui-input-range ui-range-thumb-size-md ui-range-thumb-bg-gray ui-range-track-bg-gray text-primary">
</div>