<div class="flex flex-col gap-3">
    <div class="flex gap-x-3 text-sm items-start">
        <input type="radio" name="def_radio" id="def_check" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
        <label for="def_check" class="text-fg peer-disabled-op80 peer-disabled-pointer-events-none">Default radio</label>
    </div>
    <div class="flex gap-x-3 text-sm items-start">
        <input type="radio" checked name="def_radio" id="def_radio_checked" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
        <label for="def_radio_checked" class="text-gf peer-disabled-op80 peer-disabled-pointer-events-none">Default radio Checked</label>
    </div>
</div>