<div class="flex flex-col gap-4 wfull">
    <div class="flex gap-x-3 text-sm items-start">
        <input checked type="radio" name="radio_help_1" id="radio_help_1" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
        <label for="radio_help_1" class="text-fg-title font-medium text-base peer-disabled:op80 peer-disabled:pointer-events-none flex flex-col">
            Label
            <p class="text-fg text-sm font-light">
                Please check this box
            </p>
        </label>
    </div>
    <label for="radio_help_2" class="flex gap-x-3 text-sm items-start p-4 rd-md b b-border-strong/60 has-[:checked]:border-primary-600 dark-has-[:checked]:border-primary-500">
        <input type="radio" name="radio_help_1" id="radio_help_2" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
        <div class="text-title font-medium text-base peer-disabled:op80 peer-disabled:pointer-events-none flex flex-col">
            Label
            <p class="text-fg text-sm font-light">
                Please check this box
            </p>
        </div>
    </label>
</div>