<div class="flex gap-x-3 text-sm items-start">
    <input type="radio" name="def_radio_required" id="def_radio_required" class="ui-checkbox-radio-base ui-form-radio size-4 b b-border-light bg-bg  mt0.5 peer text-primary500 rd-full">
    <label for="def_radio_required" class="text-fg peer-disabled:op80 peer-disabled:pointer-events-none ">Default radio <span aria-hidden="true" class="text-danger-600 dark:text-danger-500">*</span></label>
</div>