<nav aria-label="Breadcrumbs">
    <ol class="flex items-center gap-x3 text-fg-muted">
        <li class="flex items-center gap-x1.5">
            <a href="#" class="ease-linear hover-text-fg-subtitle flex items-center gap-x1.5">
                <span aria-hidden="true" class="flex i-carbon-home text-xl"></span>
                Home
            </a>
            <span aria-hidden="true" class="flex shring-0 i-carbon-chevron-right"></span>
        </li>
        <li class="flex items-center gap-x1.5">
            <a href="#" class="ease-linear hover-text-fg-subtitle flex items-center gap-x1.5">
                <span aria-hidden="true" class="flex i-carbon-api text-xl"></span>
                Navigation
            </a>
            <span aria-hidden="true" class="flex shring-0 i-carbon-chevron-right"></span>
        </li>
        <li class="flex items-center gap-x1.5 text-fg-title font-semibold">
            <span aria-hidden="true" class="flex i-carbon-worship"></span>
            <span aria-current="page" class="flex">Current Page</span>
        </li>
    </ol>
</nav>