<div class="max-w-sm mx-auto w-full">
    <!-- card component -->
    <div class="ui-card-xl rd-md b b-border-light bg-bg space-y-6">
        <div class="size-12 b b-border-light b-dashed rounded">

        </div>
        <div class="space-y-3 text-fg">
            <h2 class="text-xl font-semibold text-fg-title">
                Card Title</h2>
            <p class="text-fg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
    </div>
    <!-- end card component -->
</div>