@import url(./default-colors.css);
@import url(./themes/air.css);
@import url(./themes/earth.css);
@import url(./themes/fire.css);
@import url(./themes/water.css);

:root {
  --ui-find-page-input-bt: hsl(var(--c-gray-200));
  --card-ui-find-page-bg-hover: hsl(var(--c-gray-100));
  --card-ui-find-page-bdr: hsl(var(--c-gray-100));
  --card-ui-find-page-bdr-hover: hsl(var(--c-gray-200));
  --ui-find-input-placeholder: hsl(var(--c-gray-600));
}

html.dark {
  --ui-find-page-input-bt: hsl(var(--c-gray-800));
  --card-ui-find-page-bg-hover: hsl(var(--c-gray-800));
  --card-ui-find-page-bdr: hsl(var(--c-gray-900));
  --card-ui-find-page-bdr-hover: hsl(var(--c-gray-800));
  --ui-find-input-placeholder: hsl(var(--c-gray-400));
}
