:root {
  --ui-input-focus-outline: var(--c-primary-600);
  --ui-input-invalid-outline: var(--c-danger-600);
  --ui-input-place-holder: var(--c-gray-500);
  --switch-thumb-primary: var(--c-primary-600);
  --switch-checked-thumb-primary: var(--c-primary-500);
  --switch-checked-thumb-primary: var(--primary-600)
}