<div class="space-y-4 wfull">
    <textarea placeholder="Your email here" class="ui-form-base ui-form-input ui-form-input-md b b-border-strong/90 bg-bg rd-lg text-fg"></textarea>
    <textarea placeholder="Your email here" class="ui-form-base ui-form-input ui-form-input-md bg-bg bg-bg-surface rd-lg b-transparent text-fg"></textarea>
</div>