<div class="space-y-2">
    <label for="message" class="w-max text-sm text-sub-body">Your Message</label>
    <textarea id="message" name="message" placeholder="Tell us your ...." class="ui-form-base ui-form-input ui-form-input-md b b-border-strong/90 bg-bg rd-lg text-fg"></textarea>
</div>