<button data-tooltip-trigger data-tooltip-id="tooltip-default" aria-controls="popper"
    class="btn btn-icon-sm rd-full btn-white ui-btn-white text-fg-subtitle">
    <span aria-hidden="true" class="flex i-ph-caret-down"></span>
</button>
<div aria-labelledby="popper" data-tooltip id="tooltip-default" aria-hidden="true"
    class="u-fx-popper w-48 px-4 py-1.5 text-center text-fg-muted truncate bg-bg-muted rd-lg shadow-lg dark:shadow-none shadow-gray-200 invisible fx-open-visible">
    This is a tooltip
</div>