<div class="flex flex-col gap-8 wfull">
  <meter
    max="9"
    value="4"
    class="ui-meter ui-meter-h-xs ui-meter-rounded-md text-primary bg-bg-muted"
  ></meter>
  <meter
    max="9"
    value="4"
    class="ui-meter ui-meter-h-sm ui-meter-rounded-md text-primary bg-bg-muted"
  ></meter>
  <meter
    max="9"
    value="4"
    class="ui-meter ui-meter-h-md ui-meter-rounded-md text-primary bg-bg-muted"
  ></meter>
  <meter
    max="9"
    value="4"
    class="ui-meter ui-meter-h-lg ui-meter-rounded-md text-primary bg-bg-muted"
  ></meter>
  <meter
    max="9"
    value="4"
    class="ui-meter ui-meter-h-xl ui-meter-rounded-md text-primary bg-bg-muted"
  ></meter>
  <meter
    max="9"
    value="4"
    class="ui-meter ui-meter-h-2xl ui-meter-rounded-md text-primary bg-bg-muted"
  ></meter>
</div>
