<div class="flex flex-wrap gap-4">
    <span class="rd-xl badge-md ui-subtle ui-subtle-gray">Badge</span>
    <span class="rd-xl badge-md ui-soft ui-soft-primary">Badge</span>
    <span class="rd-xl badge-md ui-outline ui-outline-warning">Badge</span>
    <span class="rd-xl badge-md ui-solid ui-solid-danger">Badge</span>
    <span class="rd-xl badge-md ui-solid ui-solid-neutral text-sub-title-reverse">Badge</span>
</div>