<div class="ui-soft ui-soft-gray rd-md p-4 flex items-start gap-x-4 wfull">
  <div class="w-max">
    <span class="flex text-lg i-carbon-warning"></span>
  </div>
  <div class="flex-1 space-y-3">
    <p>The data export you requested is ready!</p>
    <div>
      <button
        class="btn btn-sm btn-flexi btn-flexi-white text-fg-subtitle rd-md"
        aria-label="Trigger Modal Show Data"
      >
        View the Data
      </button>
    </div>
  </div>
</div>
