<div class="w-full flex flex-col gap-2">
    <div class="bg-bg-surface rd-md p4">
        <p class="text-fg">
          You can add components to your app using the ou CLI.
        </p>
      </div>
      <div class="bg-bg-surface rd-md p4 flex items-center gap-4">
        <span class="min-w-max i-ph-info text-fg text-lg"></span>
        <div class="flex flex-1">
          <p class="text-fg">
            You can add components to your app using the ou CLI.
          </p>
        </div>
    </div>
    <div class="ui-outline ui-outline-gray rd-md p4 flex items-center gap-x4 text-fg">
        <span aria-hidden="true" class="flex i-ph-info text-xl"></span>
        <div class="flex-1 flex">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
      </div>
</div>
