<div class="w-full flex flex-col gap-2">
  <div class="ui-soft ui-soft-gray rd-md p4">
    <p>You can add components to your app using the ou CLI.</p>
  </div>
  <div class="ui-soft ui-soft-primary rd-md p4">
    <p>You can add components to your app using the ou CLI.</p>
  </div>
  <div class="ui-soft ui-soft-primary rd-md p4">
    <h3>With Border</h3>
    <p class="text-fg-primary-light">
      You can add components to your app using the ou CLI.
    </p>
  </div>
  <div class="ui-soft ui-soft-danger rd-md p4">
    <p class="text-fg-danger-light">
      You can add components to your app using the ou CLI.
    </p>
  </div>
</div>
