<div class="w-full flex flex-col gap-2">

    <div class="ui-subtle ui-subtle-gray rd-md p4">
        <p>You can add components to your app using the ou CLI.</p>
      </div>
      <div class="ui-subtle ui-subtle-primary rd-md p4">
        <p>You can add components to your app using the ou CLI.</p>
      </div>
      <div class="ui-subtle ui-subtle-secondary rd-md p4">
        <p>You can add components to your app using the ou CLI.</p>
      </div>
      <div class="ui-subtle ui-subtle-danger rd-md p4">
        <p class="text-fg-danger-light">
          You can add components to your app using the ou CLI.
        </p>
      </div>
</div>

