<div class="w-full flex flex-col gap-2">
    <div class="ui-solid ui-solid-gray rd-md p4">
        <h3 class="font-semibold text-fg-title">
          Alert with title : default
        </h3>
        <p>
          You can add components to your app using the ou CLI.
        </p>
    </div>
    <div class="ui-solid ui-solid-gray rd-md p4 flex items-start gap-x4">
        <div class="wmax">
          <span aria-hidden="true" class="flex i-ph-info text-xl"></span>
        </div>
        <div class="flex-1">
          <h3 class="font-semibold text-fg-title">
            Alert with title & Icon : default Reverse
          </h3>
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
    </div>
    <div class="ui-outline ui-outline-gray rd-md p4 flex items-start gap-x4 text-fg">
        <span aria-hidden="true" class="flex i-ph-info text-xl"></span>
        <div class="flex-1 flex flex-col">
          <h3 class="font-semibold text-fg-title">
            Alert with title & Icon : default Reverse
          </h3>
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
    </div>
</div>