<div class="flex items-center flex-wrap gap-x4 gap-y-3">
    <button data-popover-trigger data-popover-id="popover-default" aria-controls="popper"
        class="btn btn-md rd-md btn-white ui-btn-white text-fg-subtitle">
        Show Content
    </button>
    <div aria-labelledby="popper" data-popover id="popover-default" aria-hidden="true"
        class="u-fx-popper invisible op0 fx-open-visible fx-open-op100 w60 p4 bg-bg-surface rd-md">
        <div class="flex h40 rd bg-bg-muted">

        </div>
    </div>
</div>