---

---

<section class="pt16 relative isolate">
  <span
    class="absolute size-full -top-16 bottom-0 z1 cross-dots-pattern op30 dark-op60"
  ></span>
  <div
    class="sm-max-w-3xl mxa flex flex-col items-center text-center w-full relative z9 px4 sm-px8 md-px16 lg-px8 pb24 md-pb32"
  >
    <span
      class="badge-md bg-bg rd-xl flex items-center gap2 wmax b b-border shadow-sm text-fg-muted text-sm"
    >
      <span class="i-simple-icons-unocss"></span>
      <span> Styled with UnoCSS x PresetUI</span>
    </span>
    <h1
      class="font-semibold capitalize text-3xl sm-text-5xl leading-tight md-leading-snug text-transparent bg-clip-text bg-gradient-to-b from-20% from-fg-title to-gray-500 dark-to-gray400 text-balance mt7"
    >
      Free TailwindCSS Templates
    </h1>
    <p class="text-fg-muted text-sm mt7 mxa max-w-sm">
      Explore our collection of pre-built templates, designed to accelerate your
      development process.
    </p>

    <div
      class="flex justify-center mt8 py2 bg-gradient-to-t from-bg-surface/50 text-sm wfull"
    >
      <div
        class="wmax text-fg-muted bg-bg ui-card [--card-radius:--global-main-radius] cp-0.5 b b-border shadow-sm mxa max-wfull flex flex-wrap items-center justify-center gap0.5"
      >
        <div
          class="px2 py1.5 inner-radius flex items-center bg-bg-surface pointer-events-none select-none"
        >
          <img
            src={`/icons/html.svg`}
            alt={`icon `}
            width="20"
            class="h4 wauto mr1.5"
          />
          HTML
        </div>
        <div
          class="px2 py1.5 inner-radius flex items-center bg-bg-surface pointer-events-none select-none"
        >
          <img
            src={`/icons/vue.svg`}
            alt={`icon `}
            width="20"
            class="h4 wauto mr1.5"
          />
          VueJS
        </div>
        <div
          class="px2 py1.5 inner-radius flex items-center bg-bg-surface pointer-events-none select-none"
        >
          <span aria-hidden="true" class="i-simple-icons-astro flex mr1.5"
          ></span>
          AstroJS
        </div>
        <div
          class="px2 py1.5 inner-radius flex items-center bg-bg-surface pointer-events-none select-none"
        >
          <img
            src={`/icons/laravel.svg`}
            alt={`icon `}
            width="20"
            class="h4 wauto mr1.5"
          />
          Laravel
        </div>
        <div
          class="px2 py1.5 inner-radius flex items-center bg-bg-surface pointer-events-none select-none"
        >
          <img
            src={`/icons/svelte.svg`}
            alt={`icon `}
            width="20"
            class="h4 wauto mr1.5"
          />
          Svelte
        </div>
      </div>
    </div>
  </div>
</section>
