:root {
  --c-white: 0 0% 100%;
  --c-emerald-50: 151 81% 96%;
  --c-emerald-100: 149 80% 90%;
  --c-emerald-200: 152 76% 80%;
  --c-emerald-300: 156 72% 67%;
  --c-emerald-400: 158 64% 52%;
  --c-emerald-500: 160 84% 39%;
  --c-emerald-600: 161 94% 30%;
  --c-emerald-700: 163 94% 24%;
  --c-emerald-800: 163 88% 20%;
  --c-emerald-900: 164 86% 16%;
  --c-emerald-950: 167 91% 9%;

  --c-eucalyptus-50: 140 42% 96%;
  --c-eucalyptus-100: 141 50% 90%;
  --c-eucalyptus-200: 145 39% 80%;
  --c-eucalyptus-300: 146 39% 67%;
  --c-eucalyptus-400: 147 37% 52%;
  --c-eucalyptus-500: 148 48% 35%;
  --c-eucalyptus-600: 149 54% 30%;
  --c-eucalyptus-700: 149 53% 24%;
  --c-eucalyptus-800: 150 51% 20%;
  --c-eucalyptus-900: 152 48% 16%;
  --c-eucalyptus-950: 153 52% 9%;

  --c-soft-blue-50: 210 100% 97%;
  --c-soft-blue-100: 209 92% 94%;
  --c-soft-blue-200: 209 90% 86%;
  --c-soft-blue-300: 209 89% 74%;
  --c-soft-blue-400: 209 88% 60%;
  --c-soft-blue-500: 208 84% 48%;
  --c-soft-blue-600: 209 92% 36%;
  --c-soft-blue-700: 210 90% 32%;
  --c-soft-blue-800: 211 84% 27%;
  --c-soft-blue-900: 212 75% 24%;
  --c-soft-blue-950: 214 75% 16%;

  --c-la-palma-50: 114 78% 95%;
  --c-la-palma-100: 114 75% 89%;
  --c-la-palma-200: 114 75% 80%;
  --c-la-palma-300: 114 75% 67%;
  --c-la-palma-400: 114 70% 55%;
  --c-la-palma-500: 114 67% 44%;
  --c-la-palma-600: 120 72% 31%;
  --c-la-palma-700: 122 66% 27%;
  --c-la-palma-800: 124 57% 23%;
  --c-la-palma-900: 126 50% 20%;
  --c-la-palma-950: 128 62% 10%;

  --c-dodger-blue-50: 210 92% 97%;
  --c-dodger-blue-100: 209 88% 94%;
  --c-dodger-blue-200: 208 86% 86%;
  --c-dodger-blue-300: 208 86% 74%;
  --c-dodger-blue-400: 208 84% 60%;
  --c-dodger-blue-500: 208 79% 51%;
  --c-dodger-blue-600: 209 88% 39%;
  --c-dodger-blue-700: 210 87% 32%;
  --c-dodger-blue-800: 211 80% 27%;
  --c-dodger-blue-900: 212 72% 24%;
  --c-dodger-blue-950: 214 73% 16%;

  --c-sky-50: 204 100% 97%;
  --c-sky-100: 204 94% 94%;
  --c-sky-200: 201 94% 86%;
  --c-sky-300: 199 95% 74%;
  --c-sky-400: 198 93% 60%;
  --c-sky-500: 199 89% 48%;
  --c-sky-600: 200 98% 39%;
  --c-sky-700: 201 96% 32%;
  --c-sky-800: 201 90% 27%;
  --c-sky-900: 202 80% 24%;
  --c-sky-950: 204 80% 16%;

  --c-cyan-50: 183 100% 96%;
  --c-cyan-100: 185 96% 90%;
  --c-cyan-200: 186 93% 82%;
  --c-cyan-300: 187 92% 69%;
  --c-cyan-400: 188 86% 53%;
  --c-cyan-500: 187 97% 43%;
  --c-cyan-600: 187 92% 36%;
  --c-cyan-700: 188 78% 31%;
  --c-cyan-800: 201 90% 27%;
  --c-cyan-900: 190 56% 24%;
  --c-cyan-950: 192 79% 15%;

  --c-teal-50: 166 76% 97%;
  --c-teal-100: 167 85% 89%;
  --c-teal-200: 168 84% 78%;
  --c-teal-300: 171 77% 64%;
  --c-teal-400: 172 66% 50%;
  --c-teal-500: 173 80% 40%;
  --c-teal-600: 175 84% 32%;
  --c-teal-700: 175 77% 26%;
  --c-teal-800: 176 69% 22%;
  --c-teal-900: 176 61% 19%;
  --c-teal-950: 180 84% 10%;

  --c-air-yellow-50: 46 70% 95%;
  --c-air-yellow-100: 45 67% 88%;
  --c-air-yellow-200: 45 65% 77%;
  --c-air-yellow-300: 42 74% 64%;
  --c-air-yellow-400: 37 74% 53%;
  --c-air-yellow-500: 39 65% 47%;
  --c-air-yellow-600: 37 67% 40%;
  --c-air-yellow-700: 36 64% 33%;
  --c-air-yellow-800: 35 57% 29%;
  --c-air-yellow-900: 34 51% 26%;
  --c-air-yellow-950: 32 58% 14%;

  --c-air-orange-50: 36 100% 94%;
  --c-air-orange-100: 36 100% 83%;
  --c-air-orange-200: 32 100% 71%;
  --c-air-orange-300: 25 100% 63%;
  --c-air-orange-400: 19 100% 58%;
  --c-air-orange-500: 16 100% 50%;
  --c-air-orange-600: 15 100% 48%;
  --c-air-orange-700: 14 100% 45%;
  --c-air-orange-800: 13 100% 42%;
  --c-air-orange-900: 12 100% 37%;
  --c-air-orange-950: 12 100% 27%;

  --c-orange-50: 33 100% 96%;
  --c-orange-100: 34 100% 92%;
  --c-orange-200: 32 98% 83%;
  --c-orange-300: 31 97% 72%;
  --c-orange-400: 27 96% 61%;
  --c-orange-500: 25 95% 53%;
  --c-orange-600: 21 90% 48%;
  --c-orange-700: 17 88% 40%;
  --c-orange-800: 15 79% 34%;
  --c-orange-900: 15 75% 28%;
  --c-orange-950: 17 82% 14%;

  --c-camouflage-50: 46 87% 95%;
  --c-camouflage-100: 45 81% 89%;
  --c-camouflage-200: 45 77% 80%;
  --c-camouflage-300: 43 74% 67%;
  --c-camouflage-400: 43 70% 55%;
  --c-camouflage-500: 43 72% 44%;
  --c-camouflage-600: 43 76% 35%;
  --c-camouflage-700: 44 70% 27%;
  --c-camouflage-800: 45 62% 23%;
  --c-camouflage-900: 46 55% 20%;
  --c-camouflage-950: 46 72% 14%;

  --c-amber-50: 48 100% 96%;
  --c-amber-100: 48 96% 89%;
  --c-amber-200: 48 97% 77%;
  --c-amber-300: 46 97% 65%;
  --c-amber-400: 43 96% 56%;
  --c-amber-500: 38 92% 50%;
  --c-amber-600: 32 95% 44%;
  --c-amber-700: 26 90% 37%;
  --c-amber-800: 23 83% 31%;
  --c-amber-900: 22 78% 26%;
  --c-amber-950: 26 83% 14%;

  --c-thunderbird-50: 3 100% 97%;
  --c-thunderbird-100: 3 100% 94%;
  --c-thunderbird-200: 3 100% 89%;
  --c-thunderbird-300: 2 100% 81%;
  --c-thunderbird-400: 2 100% 70%;
  --c-thunderbird-500: 2 98% 60%;
  --c-thunderbird-600: 2 85% 47%;
  --c-thunderbird-700: 2 86% 42%;
  --c-thunderbird-800: 2 81% 35%;
  --c-thunderbird-900: 2 67% 31%;
  --c-thunderbird-950: 2 87% 15%;

  --c-red-50: 0 86% 97%;
  --c-red-100: 0 93% 94%;
  --c-red-200: 0 96% 89%;
  --c-red-300: 0 94% 82%;
  --c-red-400: 0 91% 71%;
  --c-red-500: 0 84% 60%;
  --c-red-600: 0 72% 51%;
  --c-red-700: 0 74% 42%;
  --c-red-800: 0 70% 35%;
  --c-red-900: 0 63% 31%;
  --c-red-950: 0 75% 15%;

  --c-stone-50: 60 9% 98%;
  --c-stone-100: 60 5% 96%;
  --c-stone-200: 20 6% 90%;
  --c-stone-300: 24 6% 83%;
  --c-stone-400: 24 5% 64%;
  --c-stone-500: 25 5% 45%;
  --c-stone-600: 33 5% 32%;
  --c-stone-700: 30 6% 25%;
  --c-stone-800: 12 6% 15%;
  --c-stone-900: 24 10% 10%;
  --c-stone-950: 20 14% 4%;

  --c-slate-50: 210 40% 98%;
  --c-slate-100: 210 40% 96%;
  --c-slate-200: 214 32% 91%;
  --c-slate-300: 213 27% 84%;
  --c-slate-400: 215 20% 65%;
  --c-slate-500: 215 16% 47%;
  --c-slate-600: 215 19% 35%;
  --c-slate-700: 215 25% 27%;
  --c-slate-800: 217 33% 17%;
  --c-slate-900: 222 47% 11%;
  --c-slate-950: 229 84% 5%;

  --c-gray-base-50: 210 20% 98%;
  --c-gray-base-100: 220 14% 96%;
  --c-gray-base-200: 220 13% 91%;
  --c-gray-base-300: 216 12% 84%;
  --c-gray-base-400: 218 11% 65%;
  --c-gray-base-500: 220 9% 46%;
  --c-gray-base-600: 215 14% 34%;
  --c-gray-base-700: 217 19% 27%;
  --c-gray-base-800: 215 28% 17%;
  --c-gray-base-900: 221 39% 11%;
  --c-gray-base-950: 224 71% 4%;

  --c-cool-gray-50: 210 20% 98%;
  --c-cool-gray-100: 220 14% 96%;
  --c-cool-gray-200: 220 13% 91%;
  --c-cool-gray-300: 216 12% 84%;
  --c-cool-gray-400: 218 11% 65%;
  --c-cool-gray-500: 220 9% 46%;
  --c-cool-gray-600: 215 14% 34%;
  --c-cool-gray-700: 217 19% 27%;
  --c-cool-gray-800: 215 28% 17%;
  --c-cool-gray-900: 221 39% 11%;
  --c-cool-gray-950: 224 71% 4%;

  --c-neutral-50: 0 0% 98%;
  --c-neutral-100: 0 0% 96%;
  --c-neutral-200: 0 0% 90%;
  --c-neutral-300: 0 0% 83%;
  --c-neutral-400: 0 0% 64%;
  --c-neutral-500: 0 0% 45%;
  --c-neutral-600: 0 0% 32%;
  --c-neutral-700: 0 0% 25%;
  --c-neutral-800: 0 0% 15%;
  --c-neutral-900: 0 0% 9%;
  --c-neutral-950: 0 0% 4%;

  --c-zinc-50: 0 0% 98%;
  --c-zinc-100: 240 5% 96%;
  --c-zinc-200: 240 6% 90%;
  --c-zinc-300: 240 5% 84%;
  --c-zinc-400: 240 5% 65%;
  --c-zinc-500: 240 4% 46%;
  --c-zinc-600: 240 5% 34%;
  --c-zinc-700: 240 5% 26%;
  --c-zinc-800: 240 4% 16%;
  --c-zinc-900: 240 6% 10%;
  --c-zinc-950: 240 10% 4%;

  --c-primary-50: 252 100% 97%;
  --c-primary-100: 252 100% 94%;
  --c-primary-200: 251 98% 89%;
  --c-primary-300: 249 95% 82%;
  --c-primary-400: 247 90% 74%;
  --c-primary-500: 245 86% 67%;
  --c-primary-600: 243 75% 59%;
  --c-primary-700: 244 57% 51%;
  --c-primary-800: 245 54% 41%;
  --c-primary-900: 245 47% 35%;
  --c-primary-950: 246 47% 20%;

  --c-secondary-50: 183 100% 96%;
  --c-secondary-100: 185 96% 90%;
  --c-secondary-200: 186 93% 82%;
  --c-secondary-300: 187 92% 69%;
  --c-secondary-400: 188 86% 53%;
  --c-secondary-500: 187 97% 43%;
  --c-secondary-600: 187 92% 36%;
  --c-secondary-700: 188 78% 31%;
  --c-secondary-800: 201 90% 27%;
  --c-secondary-900: 190 56% 24%;
  --c-secondary-950: 192 79% 15%;

  --c-accent-50: 210 100% 97%;
  --c-accent-100: 209 92% 94%;
  --c-accent-200: 209 90% 86%;
  --c-accent-300: 209 89% 74%;
  --c-accent-400: 209 88% 60%;
  --c-accent-500: 208 84% 48%;
  --c-accent-600: 209 92% 36%;
  --c-accent-700: 210 90% 32%;
  --c-accent-800: 211 84% 27%;
  --c-accent-900: 212 75% 24%;
  --c-accent-950: 214 75% 16%;

  --c-success-50: 151 81% 96%;
  --c-success-100: 149 80% 90%;
  --c-success-200: 152 76% 80%;
  --c-success-300: 156 72% 67%;
  --c-success-400: 158 64% 52%;
  --c-success-500: 160 84% 39%;
  --c-success-600: 161 94% 30%;
  --c-success-700: 163 94% 24%;
  --c-success-800: 163 88% 20%;
  --c-success-900: 164 86% 16%;
  --c-success-950: 167 91% 9%;

  --c-warning-50: 33 100% 96%;
  --c-warning-100: 34 100% 92%;
  --c-warning-200: 32 98% 83%;
  --c-warning-300: 31 97% 72%;
  --c-warning-400: 27 96% 61%;
  --c-warning-500: 25 95% 53%;
  --c-warning-600: 21 90% 48%;
  --c-warning-700: 17 88% 40%;
  --c-warning-800: 15 79% 34%;
  --c-warning-900: 15 75% 28%;
  --c-warning-950: 17 82% 14%;

  --c-info-50: 204 100% 97%;
  --c-info-100: 204 94% 94%;
  --c-info-200: 201 94% 86%;
  --c-info-300: 199 95% 74%;
  --c-info-400: 198 93% 60%;
  --c-info-500: 199 89% 48%;
  --c-info-600: 200 98% 39%;
  --c-info-700: 201 96% 32%;
  --c-info-800: 201 90% 27%;
  --c-info-900: 202 80% 24%;
  --c-info-950: 204 80% 16%;

  --c-danger-50: 0 86% 97%;
  --c-danger-100: 0 93% 94%;
  --c-danger-200: 0 96% 89%;
  --c-danger-300: 0 94% 82%;
  --c-danger-400: 0 91% 71%;
  --c-danger-500: 0 84% 60%;
  --c-danger-600: 0 72% 51%;
  --c-danger-700: 0 74% 42%;
  --c-danger-800: 0 70% 35%;
  --c-danger-900: 0 63% 31%;
  --c-danger-950: 0 75% 15%;

  --c-gray-50: 0 0% 98%;
  --c-gray-100: 240 5% 96%;
  --c-gray-200: 240 6% 90%;
  --c-gray-300: 240 5% 84%;
  --c-gray-400: 240 5% 65%;
  --c-gray-500: 240 4% 46%;
  --c-gray-600: 240 5% 34%;
  --c-gray-700: 240 5% 26%;
  --c-gray-800: 240 4% 16%;
  --c-gray-900: 240 6% 10%;
  --c-gray-950: 240 10% 4%;
}