---
import { AstroFont } from "astro-font";
import "@assets/css/global.css";
import "@assets/css/find-ui.css";
import type { SeoType } from "../types";
import SEO from "@components/molecules/SEO.astro";
import ScriptTheme from "./ScriptTheme.astro";
import { ClientRouter } from "astro:transitions";
type Props = {
  seo: SeoType;
  bodyClasses?: string;
};

const { seo, bodyClasses } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bg">
  <head>
    <SEO seo={seo}>
      <link rel="sitemap" href="/sitemap-index.xml" />
    </SEO>

    <ClientRouter />
    <AstroFont
      config={[
        {
          name: "geistSans",
          src: [
            {
              style: "normal",
              weight: "300",
              path: "/fonts/geist-300.woff2",
            },
            {
              style: "normal",
              weight: "400",
              path: "/fonts/geist-400.woff2",
            },
            {
              style: "normal",
              weight: "500",
              path: "/fonts/geist-500.woff2",
            },
            {
              style: "normal",
              weight: "600",
              path: "/fonts/geist-600.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: ".font-geist",
          fallback: "serif",
        },
      ]}
    />
    <script src="/_pagefind/pagefind-ui.js" is:inline></script>

    <ScriptTheme />
  </head>
  <body
    class={`overflow-hidden overflow-y-auto lg-overflow-y-auto  ${bodyClasses ? bodyClasses : "bg-bg"} font-geist`}
  >
    <slot />


    <dialog
      data-fx-modal
      data-alert-dialog
      aria-hidden="true"
      data-modal-id="page-find-modal"
      data-modal-overlay="ui-overlay bg-bg-surface/70 backdrop-filter backdrop-blur-sm"
      class="items-start justify-center p-4 fixed hidden fx-open-flex size-screen top-0 left-0 z100 bg-transparent"
    >
      <div
        data-modal-content
        data-enter-animation="fadeIn .4s linear truncate"
        data-exit-animation="fadeOut .1s linear"
        class="ui-animated-modal-content min-h40 b b-border-strong/80 relative bg-bg overflow-hidden wfull max-w-xl ui-card cp-2 [--card-radius:--global-main-radius] ease-linear transition-all"
      >
         <div id="search" data-doc-page-find></div>
      </div>
    </dialog>
    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        document.addEventListener("astro:page-load", () => {
          // @ts-ignore
          new PagefindUI({
            element: "#search[data-doc-page-find]",
            showSubResults: false,
            resultsCount: false,
            showImages: false,
          });
        });
      });
    </script>
    <script>
      import { initScriptTheme } from "@assets/js/theme";
      import { initNavbar } from "@assets/js/navbar";
      import { initSwitchPalette } from "@assets/js/switch-palette";
      import { initCommonScript } from "@assets/js/global";

      const initMainScript = () => {
        initCommonScript();
        initScriptTheme();
        initNavbar();
        initSwitchPalette();
      };

      initMainScript();
      document.addEventListener("astro:after-swap", initMainScript);
    </script>
  </body>
</html>
