<button data-modal-trigger data-modal-target="page-find-modal"
  class="max-[639px]:btn-icon-md sm-btn-md sm-pr2 btn rd-lg sm-shadow-sm sm-b b-gray200 dark-b-gray700/70 hover-bg-bg-surface sm-bg-bg-surface/70 sm-w200px sm-justify-between sm-mr2"
>
  <span
    aria-hidden="false"
    class="flex i-ph-magnifying-glass sm-mr3 text-sm text-fg sm-text-fg-muted/60"></span>
  <span class="text-xs text-gray500 hidden sm-flex sm-flex-1">Search .....</span>
  <span
    aria-hidden="true"
    class="ui-subtle ui-subtle-gray hidden sm-flex items-center gap0.5 text-xs rd-lg px1 pypx sm-ml6"
  >
    <span class="flex i-ph-command"></span>
    K
  </span>
</button>
