<button
  data-switch-theme
  aria-label="toggle dark mode"
  class="btn-icon-md btn rd-lg text-fg hover-text-fg-title hover-bg-bg-muted/60"
>
  <span class="i-ph-sun hidden dark-flex"></span>
  <span class="i-ph-moon-stars flex dark-hidden"></span>
</button>
