---
import UiLink from "./UiLink.astro";
---

<UiLink href="https://github.com/unoforge" class="btn-icon-md btn rd-lg text-fg hover-text-fg-title hover-bg-bg-muted/60">
    <span class="flex i-ph-github-logo"></span>
</UiLink>