<button
  data-toggle-theme-setting
   data-popover-trigger 
   data-popover-id="popover-theme-setting"
  aria-label="toggle theme panel"
  class="btn-icon-md btn rd-lg text-fg hover-text-fg-title hover-bg-bg-muted/60"
>
  <span class="i-ph-paint-brush"></span>
</button>
