<div class="flex items-center flex-wrap gap-6">
    <input type="checkbox" name="switch_outline1" id="switch_outline1" class="bg-bg-muted/40 text-primary switch-outline b-border-strong/70 checked-b-primary switch-outline-sm switch-knob-white" />
    <input type="checkbox" name="switch_outline2" id="switch_outline2" class="bg-bg-muted/40 text-fg-title switch-outline b-border-strong/70 checked-b-fg-title switch-outline-sm switch-knob-dark" />
</div>