<button data-modal-trigger data-modal-target="modal-message-def" class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
    Show Modal
</button>
<dialog data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-message-def" data-modal-overlay="ui-overlay bg-gray-800/70 backdrop-filter backdrop-blur-sm" class="items-center justify-center p-4 fixed hidden fx-open-flex size-screen top-0 left-0 z100 bg-transparent">
    <div data-modal-content data-enter-animation="fadeIn .4s linear" data-exit-animation="fadeOut .1s linear" class="ui-animated-modal-content relative bg-bg rd-lg overflow-hidden w-full max-w-xl p-8 flex flex-col gap-y-4 items-center ease-linear transition-all">
        <div class="w-max p-3 rd-full ui-soft ui-soft-gray b b-border">
           <span aria-hidden="true" class="flex i-ph-question text-xl"></span>
        </div>
        <h2 class="font-semibold text-xl text-fg-title">Confirm your action</h2>
        <p class="text-fg">
            Are you sure you want to proceed with this action?
        </p>
        <div class="flex justify-center gap-x-3 pt-4">
            <button class="btn btn-sm text-white btn-solid btn-solid-primary rd-md">
                Yes, Proceed
            </button>
            <button data-close-modal class="btn btn-sm btn-white ui-btn-white rd-md text-fg-subtitle">
                No, Cancel
            </button>
        </div>
    </div>
</dialog>