---
import CopyBtnCode from "@components/vuejs/CopyBtnCode.vue";
import { getIconVal, isFile } from "@helper/index";

type Props = {
  title: string;
  icon?: string;
  shellStyle?: string;
};
const { title, icon, shellStyle } = Astro.props;


---

<div
  data-pagefind-ignore
  data-code-block
  class="b b-border-strong/30 bg-[--astro-code-color-background] rd-lg grid mt2.5 first-mt0 text-gray300"
>
  <div
    class="flex justify-between items-center pl6 pr4 py2 bg-gradient-to-b from-gray100/10 dark-from-gray950/20 !bg-op10 b-b b-b-gray800/40"
  >
    <div class="flex items-center gap-x3">
      {
        icon ? (
          isFile(getIconVal(icon)) ? (
            <img
              src={`/icons/${getIconVal(icon)}`}
              alt={`icon ${icon}`}
              width="20"
              class="h4 wauto"
            />
          ) : (
            <span aria-hidden="true" class={`flex ${getIconVal(icon)}`} />
          )
        ) : null
      }
      {title}
    </div>
    <div
      class="flex items-center gap-x3 text-gray2 bg-[--astro-code-color-background]"
    >
      <CopyBtnCode client:load />
    </div>
  </div>
  <div class="relative group overflow-hidden max-h-35rem wfull grid">
    <div
      data-shell-indicator={shellStyle ? "true" : "false"}
      data-code-snippet
      class="grid overflow-hidden"
    >
      <slot />
    </div>
  </div>
</div>
