---
import CodeViewBox from "../ui/CodeViewBox.astro";
import DocsTab from "./DocsTab.astro";
import TabPanel from "./TabPanel.astro";
import { componentManifest } from "@lib/ComponentManifest.astro";

type Props = {
  name: string;
  notInTabs?: boolean;
};

const { name, notInTabs } = Astro.props;

const getValue = (name_: string) => componentManifest[name_];
const { code, component: Component, lang } = getValue(name);
---

{
  notInTabs ? (
    <>
      <div
        data-pagefind-ignore
        class="b b-border-strong/60 rd-lg p4 md-p10 bg-bg justify-center min-h-max my5 first-mt0"
      >
        <Component />
      </div>
      <CodeViewBox code={code} lang={lang} />
    </>
  ) : (
    <DocsTab values={["Preview", "Code"]} data-pagefind-ignore>
      <TabPanel
        value="Preview"
        class="b b-border-strong/60 rd-lg p4 md-p10 bg-bg items-center justify-center min-h60 lg-min-h80"
        active
      >
        <Component />
      </TabPanel>
      <TabPanel value="Code">
        <CodeViewBox code={code} lang={lang} />
      </TabPanel>
    </DocsTab>
  )
}
