---
import dynamic from "astro:import";

type Props = {
    name: string;
    props?: any;
};

const { name, props = {} } = Astro.props;

const toImport = `components/ui/${name}.astro`;
const Component = await dynamic(toImport);
---

<div class="grid">
    <div
    data-pagefind-ignore
    class="b b-border-strong/60 rd-lg p4 md-p10 bg-bg d-flex-justify-center min-h-max mt6 first-mt0 grid"
>
    <Component {...props} />
</div>
</div>
