---
import dynamic from "astro:import";
import BlockCode from "./BlockCode.astro";

type Props = {
    name: string;
    props?: any;
};

const { name, props = {} } = Astro.props;

const toImport = `components/ui/${name}.astro`;
const Component = await dynamic(toImport);
---

<div class="space-y-5 my5 first-mt0 grid">
    <div
        data-pagefind-ignore
        class="b b-border-strong/60 rd-lg p4 md-p10 bg-bg d-flex-justify-center min-h-max"
    >
        <Component {...props} />
    </div>
    <BlockCode>
        <slot />
    </BlockCode>
</div>
