---
import AppLogoLink from "@components/atoms/AppLogoLink.astro";
import AppSearchTrigger from "@components/atoms/AppSearchTrigger.astro";
import Container from "@components/atoms/Container.astro";
import GlobalToggleTheme from "@components/atoms/GlobalToggleTheme.astro";
import LinkToGithubBtn from "@components/atoms/LinkToGithubBtn.astro";
import TriggerUiTheme from "@components/atoms/TriggerUiTheme.astro";


const navItems = [
  {
    text: "Docs",
    path: "/docs/introduction",
  },
  {
    text: "Components",
    path: "/components/accordion",
  },
  {
    text: "Blocks",
    path: "/blocks/hero-sections",
  },
  {
    text: "Templates",
    path: "/templates/",
  }
];
---

<header data-pagefind-ignore class="sticky top-0 h14 b-b b-border-strong/70 flex items-center z80">
  <span aria-hidden="true" class="blured-bg-ui"></span>
  <Container maxWidthNone class={"flex justify-between items-center gap-8 relative lg-max-w84rem xl-max-w88rem"}>
    <div class="flex">
      <AppLogoLink />
    </div>
    <div
      data-navbar
      class="w-full lg-wauto flex items-center flex-1 navbar-ui navbar-ui-h navbar-ui-states overflow-small-device"
    >
      <ul class="flex flex-col lg-flex-row gap3 md-gap4 text-fg-muted hfull wfull text-sm">
        {
          navItems.map((navItem) => (
            <li
              class={`flex`}
            >
              <a
                href={navItem.path}
                aria-label={`Link to ${navItem.text}`}
                class={`ease-linear duration-200 hover-text-fg-title`}
              >
                {navItem.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex items-center gap0.5 text-fg">
      <AppSearchTrigger/>
      <GlobalToggleTheme/>
      <LinkToGithubBtn/>
      <TriggerUiTheme/>
      <button
        data-toggle-navbar
        aria-label="Toggle Navbar"
        class="flex flex-col space-y-2 rd-lg hover-bg-bg-surface ease-linear duration-200 px1.5 py2.5 lg-hidden group rela"
      >
        <span
          aria-hidden="true"
          class="group-fx-open-rotate-45 group-fx-open-translate-y-1.5 w6 h0.5 rd-full bg-current text-fg-muted"
        ></span>
        <span
          aria-hidden="true"
          class="group-fx-open--rotate-45 group-fx-open--translate-y-1 w6 h0.5 rd-full bg-current text-fg-muted"
        ></span>
      </button>
    </div>
  </Container>
</header>
