<form class="space-y-4 wfull">
    <input type="text" placeholder="Start typing..." class="ui-form-base ui-form-input ui-form-input-md b b-border-strong/90 bg-bg rd-md text-fg">
    <input type="text" placeholder="Start typing..." class="ui-form-base ui-form-input ui-form-input-md bg-bg bg-bg-surface rd-lg b-transparent text-fg">
</form>