<form class="flex flex-col wfull space-y-4">
    <div class="flex flex-col space-y-2">
        <label for="user_email_2" class="text-sm text-fg-muted">Your Email</label>
        <input type="email" name="user_email_2" id="user_email_2" placeholder="Your email here"
        class="ui-form-base ui-form-input ui-form-input-md b b-border-strong/90 bg-bg rd-md text-fg">
    </div>
    <div class="flex items-center gap-2">
        <label for="user_email" class="text-fg-muted min-w-max text-sm">Your Email</label>
        <input type="email" placeholder="Your email here" name="user_email" id="user_email"
        class="ui-form-base ui-form-input ui-form-input-md b b-border-strong/90 bg-bg rd-md text-fg">
    </div>
</form>